.App {
  font-family: DM-Sans;
  text-align: center;
  background-color: #f9f3e5;
  height: 100%;
}

/* Media Queries */
/* phone screen */
@media screen and (max-width: 600px) {
  .arrange-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f3e5;
    padding: 50px;
  }

  .single-product {
    color: black;
    background-color: #f9f3e5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .checkout {
    background-color: #f9f3e5;
    border-radius: 10px;
    text-align: center;
    padding: 70px 70px 700px 70px;
    margin: 0px 0px 0px 0px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .single-product-icons {
    display: flex;
    gap: 20px;
  }

  .one-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .items-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .items-in-cart {
    background-color: rgb(190, 164, 83);
    color: black;
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
    margin: 0px 70px 20px 70px;
    text-align: center;
  }
  .cart-img {
    height: 200px;
    width: 200px;
  }
  .result-items {
    background-color: #f9f3e5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* desktop */
@media screen and (min-width: 600px) {
  /* need to make a single arrang product for results page */
  .arrange-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px;
    transition: all 0.3s ease;
  }

  .arrange-products:hover {
    transform: scale(1.1);
  }
  .single-product {
    color: black;
    background-color: #f9f3e5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .checkout {
    background-color: #f9f3e5;
    border-radius: 10px;
    text-align: center;
    padding: 70px 70px 700px 70px;
    margin: 0px 0px 0px 0px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .single-product-icons {
    display: flex;
    gap: 20px;
  }
  .one-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
  }

  .one-item:hover {
    transform: scale(1.1);
  }

  .items-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;
    background-color: #f9f3e5;
  }

  .items {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .items-in-cart {
    background-color: rgb(190, 164, 83);
    color: black;
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
    margin: 0px 70px 20px 70px;
    text-align: center;
  }

  .result-items {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #f0f0f0;
  font-family: DM-Sans;
  text-align: center;
}

img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

button {
  background-color: #d8e183;
  font-family: DM-Sans;
  color: black;
  border-radius: 10px;
  margin-top: 10px;
  height: 30px;
  width: 100px;
}

.single-product input {
  font-family: DM-Sans;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  padding-left: 10px;
}

input {
  font-family: DM-Sans;
  border-radius: 10px;
  height: 33px;
  width: 300px;
  padding-left: 10px;
}

/* cart */
.add-delete {
  border-radius: 70px;
  background-color: #e3c75f;
  color: black;
  height: 40px;
  width: 60px;
  margin-left: 10px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  outline: none;
}

.add-delete:hover {
  background-color: goldenrod;
}

.add-to-cart {
  background-color: #cc8d1a;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  margin-left: 10px;
  border: none;
  outline: none;
}

.add-to-cart:hover {
  background-color: goldenrod;
}

button:hover {
  background-color: #97b898;
}

.cart-icon-for-cart {
  color: #265c4b;
  font-size: 50px;
  width: 100px;
  background-color: #97b898;
}

.cart-icon {
  color: #265c4b;
  font-size: 20px;
}

.items-in-cart {
  background-color: rgb(190, 164, 83);
  color: black;
  border-radius: 20px;
  padding: 20px 0px 20px 0px;
  margin: 0px 70px 20px 70px;
  text-align: center;
}

.checkout img {
  height: 250px;
  width: 350px;
  border-radius: 30px;
}

.cart-text {
  color: #265c4b;
  text-align: center;
}

.cart-screen {
  background-color: #f9f3e5;
  height: 100vh;
  text-align: center;
}

.purchase-details {
  text-align: center;
}

/* pagination */
.pagination {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  background-color: #f9f3e5;
  padding: 40px 0px 40px 0px;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #265c4b;
  border-color: #265c4b;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #265c4b;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #265c4b;
  border-color: #265c4b;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #265c4b;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

.result-page {
  background-color: #f9f3e5;
  text-align: center;
  height: 100vh;
}

.error-message {
  color: black;
  font-family: DM-Sans;
  text-align: center;
  font-weight: bold;
}

.no-results {
  background-color: #f9f3e5;
  text-align: center;
  padding-bottom: 600px;
}

/* nav bar and links */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  /* background-color: #f3e5c5; */
  background-color: #f9f3e5;
  padding: 20px 0px 20px 0px;
}

.home-page-link-nav {
  font-family: DM-Sans;
  color: #265c4b;
  margin: 40px 0px 0px 80px;
  font-size: 60px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  color: #265c4b;
  font-size: 20px;
  align-items: center;
  margin-right: 150px;
  margin-top: 30px;
  gap: 30px;
}

ul {
  list-style-type: none;
}

.search-button {
  border-radius: 10px;
  height: 33px;
  width: 100px;
  margin-left: 10px;
  background-color: #e3c75f;
  /* border: 1px solid black; */
}

.search-button:hover {
  background-color: goldenrod;
}

.home-page-link {
  text-decoration: none;
  font-family: DM-Sans;
  color: #265c4b;
  font-size: 60px;
  font-weight: bold;
  padding: 30px 0px 30px 0px;
}

a {
  text-decoration: none;
  font-family: DM-Sans;
  color: #265c4b;
}

a:hover {
  color: rgb(152, 184, 152);
}

.single-product-back-home {
  text-decoration: none;
  font-family: DM-Sans;
  color: #265c4b;
  font-size: 20px;
}

/* sign up form */

.signup-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f9f3e5;
  height: 100vh;
}
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.signup-button {
  background-color: #d8e183;
  color: black;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  border: none;
  outline: none;
}

.login-button {
  background-color: #d8e183;
  color: black;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  border: none;
  outline: none;
}

.signup-button:hover {
  background-color: #97b898;
}

.login-button:hover {
  background-color: #97b898;
}

/* login page */

.login-page {
  background-color: #f9f3e5;
  height: 100vh;
  padding-top: 30px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}

/* quiz page */

.quiz-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f3e5;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.quiz-form select {
  width: 100%;
  border-radius: 10px;
  padding: 10px 50px;
  text-align: center;
}

.quiz-div img {
  width: 50%;
  height: 50%;
}

/* landing page */

.landing-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 100px 100px 100px;
  gap: 50px;
}

.landing-page h1 {
  font-size: 50px;
}

.landing-page-div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-page p {
  font-size: 20px;
}

.landing-page-image {
  width: 100%;
  height: 400px;
  border-radius: 0px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

/* plant tools */
.plant-tools-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f3e5;
  padding: 0px 50px 40px 50px;
}

.plant-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.plant-tools-div {
  background-color: #f9f3e5;
}

.one-tool {
  transition: all 0.3s ease;
}

.one-tool:hover {
  transform: scale(1.1);
}

/* best sellers */

.best-sellers-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.best-sellers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
  margin-top: 20px 0px 20px 0px;
}

.best-seller {
  transition: all 0.3s ease;
}

.best-seller:hover {
  transform: scale(1.1);
}

/* footer */

.footer {
  background-color: #265c4b;
  padding: 100px;
  color: white;
}
